## [Visual Studio]
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

## [Visual Studio Code]
.vscode/

## [User-specific files]
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## [Build results]
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## [Databases]
*.db
*.db-shm
*.db-wal

## [ASP.NET Core]
appsettings.Development.json
dotnet-aspnet-codegenerator-design.dll
wwwroot/dist/
wwwroot/lib/
node_modules/
